<section class="atelier-presentation container" id="presentation">
  <br />
  <h1>Atelier Haïkus... ou presque</h1>
  <br />
  <h2>Ecole Les Korrigans</h2>
  <p>Saint-Senoux, Ille-Et-Vilaine</p>
  <p>Organisé par la médiathèque de Saint-Senoux, Salle de l'école publique.</p>
  <div>
    3 séances:
    <ul>
      <li>
        Printemps, le 24/03/22: thèmes:
        <ul>
          <li>Le printemps</li>
          <li>Le chat</li>
          <li>Le gâteau (choisi par un enfant)</li>
        </ul>
      </li>
      <li>
        Automne, le 17/11/22: thèmes
        <ul>
          <li>L'automne</li>
          <li>Thème libre</li>
        </ul>
      </li>
      <li>
        Hiver: thèmes
        <ul>
          <li>En attendant Noël</li>
          <li>Thème libre</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<main class="ateliers-main">
  <nav class="navbar sticky-top navbar-ateliers">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToAnchroingPosition('printemps')"
            >Printemps</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToAnchroingPosition('automne')"
            >Automne</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToAnchroingPosition('hiver')"
            >Hiver</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="scrollToAnchroingPosition('presentation')"
            ><img src="assets/icones/fleche-haut.png" alt="haut de page"
          /></a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="section-ateliers">
    <section class="seance" id="printemps">
      <h3>Printemps</h3>
      <div class="d-flex flex-wrap justify-content-around">
        <div class="atelier" *ngFor="let atelier of listePrintemps">
          <div *ngIf="atelier.seance === 'printemps'">
            <svg class="atelier__bg">
              <circle cx="50" cy="50" r="75" fill="rgb(252, 214, 220, 0.4)" />
            </svg>
            <div class="atelier__ligne">{{ atelier.l1 }}</div>
            <div class="atelier__ligne">{{ atelier.l2 }}</div>
            <div class="atelier__ligne">{{ atelier.l3 }}</div>
            <div class="atelier__autor">{{ atelier.autor }}</div>
          </div>
        </div>
      </div>
    </section>
    <section class="seance" id="automne">
      <h3>Automne</h3>
      <div class="d-flex flex-wrap justify-content-around">
        <div class="atelier" *ngFor="let atelier of listeAutomne">
          <div *ngIf="atelier.seance === 'automne'">
            <svg class="atelier__bg">
              <circle cx="50" cy="50" r="75" fill="rgb(252, 214, 220, 0.4)" />
            </svg>
            <div class="atelier__ligne">{{ atelier.l1 }}</div>
            <div class="atelier__ligne">{{ atelier.l2 }}</div>
            <div class="atelier__ligne">{{ atelier.l3 }}</div>
            <div class="atelier__autor">{{ atelier.autor }}</div>
          </div>
        </div>
      </div>
    </section>
    <section class="seance" id="hiver">
      <h3>Hiver</h3>
      <div class="d-flex flex-wrap justify-content-around">
        <div class="atelier" *ngFor="let atelier of listeHiver">
          <div *ngIf="atelier.seance === 'hiver'">
            <svg class="atelier__bg">
              <circle cx="50" cy="50" r="75" fill="rgb(252, 214, 220, 0.4)" />
            </svg>
            <div class="atelier__ligne">{{ atelier.l1 }}</div>
            <div class="atelier__ligne">{{ atelier.l2 }}</div>
            <div class="atelier__ligne">{{ atelier.l3 }}</div>
            <div class="atelier__autor">{{ atelier.autor }}</div>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
<br />

<div class="atelier atelier--conclusion">
  <svg class="atelier__bg">
    <circle cx="50" cy="50" r="75" fill="rgb(252, 214, 220, 0.4)" />
  </svg>
  <div class="atelier__ligne">Haïkus... ou Presque</div>
  <div class="atelier__ligne">En attendant Noël</div>
  <div class="atelier__ligne">Merci les enfants!</div>
  <div class="atelier__autor">Anne-Marie</div>
</div>
